#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* ion-content{ 
  --background: none;
  background-image: url('../../assets/home/bg.png'), url('../../assets/home/pie.png');
  background-repeat: no-repeat;
  background-size:100% 100%; 
}  */

/* #example2 {
  background: url('../../assets/home/pie.png');
  background-repeat: no-repeat;
  background-position: center 250px;
  background-size: 100% 28%;
}  */

@media (min-width:768px){
  .hero{
    width: 100%;
    height: 500px;
    position: relative;
    background: linear-gradient(to right, #0076AD 0%, #0076AD 100%);
  }
}

body{
  margin: 0;
  padding: 0;
}

svg{
  height: 55px; 
  width: 100%; 
  opacity: 1; 
  transform: rotateY(0deg);
}

.hero{
  width: 100%;
  height: 300px;
  position: relative;
  background: linear-gradient(to right, #0076AD 0%, #0076AD 100%);
}

img{
  width: auto;
  height: auto;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  display: block;
}

ion-slide > h2 {
  margin-top: 2.8rem;
}

ion-slide > img {
  max-height: 50%;
  max-width: 60%;
  margin: 36px 0;
}

p {
  font-family: "Montserrat", serif;
  //styleName: 21 - Medium;
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  text-align: center;
}

