<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<body>
  <ion-content>
    <ion-slides>
      <ion-slide>
        <div class="hero">
          <img src="../../assets/home/1.png" />
        </div>
        <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150" preserveAspectRatio="none">
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 114.22966507177034,228.3732057416268 228.45933014354068,256.7464114832536 332,266 C 435.5406698564593,275.2535885167464 528.3923444976076,265.3875598086125 610,246 C 691.6076555023924,226.61244019138752 761.9712918660288,197.7033492822966 851,175 C 940.0287081339712,152.2966507177034 1047.7224880382776,135.79904306220098 1149,141 C 1250.2775119617224,146.20095693779902 1345.1387559808613,173.1004784688995 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#0076AD" class="transition-all duration-300 ease-in-out delay-150"
            transform="rotate(-180 720 200)"></path>
        </svg>
        <!-- <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
          <defs>
            <linearGradient id="gradient">
              <stop offset="0%" stop-color="#0076AD"></stop>
              <stop offset="0%" stop-color="#0076AD"></stop>
            </linearGradient>
          </defs>
          <path fill="url(#gradient)" fill-opacity="1"
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z">
          </path>
        </svg> -->
        <h2><b>Pídelo con Friendly</b></h2>
        <p>Bienvenido, disfruta del mejor servicio de entrega a domicilio en la ciudad de quito.</p>
      </ion-slide>
      <ion-slide>
        <div class="hero">
          <img src="../../assets/home/2.png" />
        </div>
        <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150" preserveAspectRatio="none">
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 114.22966507177034,228.3732057416268 228.45933014354068,256.7464114832536 332,266 C 435.5406698564593,275.2535885167464 528.3923444976076,265.3875598086125 610,246 C 691.6076555023924,226.61244019138752 761.9712918660288,197.7033492822966 851,175 C 940.0287081339712,152.2966507177034 1047.7224880382776,135.79904306220098 1149,141 C 1250.2775119617224,146.20095693779902 1345.1387559808613,173.1004784688995 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#0076AD" class="transition-all duration-300 ease-in-out delay-150"
            transform="rotate(-180 720 200)"></path>
        </svg>
        <h2><b>Paga lo justo</b></h2>
        <p>El
          precio de nuestro servicio depende de la distancia recorrida y no varia por el clima, la hora, el tamaño o
          el peso del encargo.</p>
      </ion-slide>
      <ion-slide>
        <div class="hero">
          <img src="../../assets/home/3.png" />
        </div>
        <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150" preserveAspectRatio="none">
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 114.22966507177034,228.3732057416268 228.45933014354068,256.7464114832536 332,266 C 435.5406698564593,275.2535885167464 528.3923444976076,265.3875598086125 610,246 C 691.6076555023924,226.61244019138752 761.9712918660288,197.7033492822966 851,175 C 940.0287081339712,152.2966507177034 1047.7224880382776,135.79904306220098 1149,141 C 1250.2775119617224,146.20095693779902 1345.1387559808613,173.1004784688995 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#0076AD" class="transition-all duration-300 ease-in-out delay-150"
            transform="rotate(-180 720 200)"></path>
        </svg>
        <h2><b>Paga lo justo</b></h2>
        <label>
          <p>Tu delivery mas facil y mas cercano.</p>
        </label>
      </ion-slide>
    </ion-slides>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</body>