<body class="welcome">
	<span id="splash-overlay" class="splash"></span>
	<span id="welcome" class="z-depth-4"></span>

	<header class="navbar-fixed">
		<nav class="row deep-purple darken-3">
		</nav>
	</header>

	<div class="content">
		<img src="../../../assets/home/splash-i.png" width="250px" height="-200px">
	</div>
	<footer class="page-footer deep-purple darken-3">
		<div class="footer-copyright deep-purple darken-4">
		  <div class="container">
			<div class="content_f">
				<img src="../../../assets/home/splash_f.png">
			</div>
		  </div>
		</div>
	  </footer>

</body>