<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">
        Sign up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div id="inner">
    <img class="center" src="../../../../assets/home/splash-i.png" width="50%" height="50%">
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
    <path fill="#0076AD" fill-opacity="1"
      d="M0,64L48,58.7C96,53,192,43,288,48C384,53,480,75,576,112C672,149,768,203,864,240C960,277,1056,299,1152,288C1248,277,1344,235,1392,213.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
    </path>
  </svg>
</ion-header>

<div class="cont-inputs-log-reg">
  <ion-content>
    <div id="header">
      <h1>Iniciar Sesión</h1>
    </div>
    <ion-row class="container-inputs">
      <ion-col size="12">
        <ion-item lines="none" class="item-color-primary" appInputFloating>
          <label class="label">E-mail</label>
          <ion-input name="email" autocomplete="off" type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item-color-primary" appInputFloating>
          <label class="label">Contraseña</label>
          <ion-input minlength="3" maxlength="45" name="password" autocomplete="off" type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" shape="round">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</div>