ion-toolbar{
  --background: #0076AD;

  ion-button{
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content{

  #header{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: center;
  }

  h1{
    font-weight: 700;
    font-size: 26px;
    color: #0076AD;
    margin-bottom: 0.5%;
  }
}

